body {
    background-size: 1920px 1080px;
    background: url(1.jpg) no-repeat fixed center;
    background-size: cover;
    line-height: 1;
}

nav {
    font-size: 20pt;
}

.card {
    width: 15em;
}

.carousel-item img {
    height: 40em;
}

.dir-carousel img {
    height: 30em;
}